<%- include('../userheader.ejs')%>
<div class="main-content">
    <div class="placed"> 
        <img src="public/img/404-tick.png" class="tickimg" alt="Green tick mark indicating a successful operation">
        <h2>Thank You!</h2> 
        <p>For Ordering. Your Order will be deliver to you soon.</p> 
    </div>
</div>
<%- include('../userfooter.ejs')%>